openapi: 3.0.3
info:
  title: DOP
  version: '1.0'
  description: DOP - OpenAPI Specification
  termsOfService: https://datanest.io/terms
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: Data Nest Support
    url: https://datanest.vn
    email: support@datanest.vn
servers:
  - url: https://dop-stg.datanest.vn/{basePath}
    variables:
      basePath:
        default: v1
    description: Development server
  - url: https://dop.datanest.vn/{basePath}
    variables:
      basePath:
        default: v1
    description: Production server
paths:
  /flows/{domain}:
    get:
      tags:
        - flow
      operationId: get-domain-flow
      summary: Get domain onboarding flow
      security:
        - cookie_auth: []
      parameters:
        - $ref: '#/components/parameters/domain'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowDetail'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /leads:
    post:
      tags:
        - lead
      operationId: create-lead
      summary: Create a new lead
      security:
        - cookie_auth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLeadRequestBody'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateLeadResponseBody'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /leads/{id}/submit-info:
    post:
      tags:
        - leads
      operationId: submit-info
      summary: Submit lead info
      security:
        - cookie_auth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitLeadInfoRequestBody'
      parameters:
        - $ref: '#/components/parameters/lead_id'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /leads/{id}/submit-otp:
    post:
      tags:
        - otp
      operationId: submit-otp
      summary: Submit OTP for lead
      security:
        - cookie_auth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitOTPRequestBody'
      parameters:
        - $ref: '#/components/parameters/lead_id'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /leads/{id}/resend-otp:
    post:
      tags:
        - otp
      operationId: resend-otp
      summary: Resend OTP for lead
      security:
        - cookie_auth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendOTPRequestBody'
      parameters:
        - $ref: '#/components/parameters/lead_id'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
components:
  securitySchemes:
    cookie_auth:
      type: apiKey
      in: cookie
      name: session
  parameters:
    domain:
      description: domain
      name: domain
      in: path
      required: true
      schema:
        type: string
      allowEmptyValue: false
    lead_id:
      description: lead id
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      allowEmptyValue: false
  schemas:
    uuid:
      type: string
      format: uuid
      x-go-type: uuid.UUID
      x-go-type-import:
        path: github.com/google/uuid
    FlowStatus:
      type: string
      enum:
        - FLOW_STATUS_ACTIVE
        - FLOW_STATUS_INACTIVE
      description: The status of the flow
    Step:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/uuid'
        use_ekyc:
          type: boolean
        send_otp:
          type: boolean
        have_purpose:
          type: boolean
        required_purpose:
          type: boolean
        have_phone_number:
          type: boolean
        required_phone_number:
          type: boolean
        have_email:
          type: boolean
        required_email:
          type: boolean
        have_full_name:
          type: boolean
        required_full_name:
          type: boolean
        have_national_id:
          type: boolean
        required_national_id:
          type: boolean
        have_second_national_id:
          type: boolean
        required_second_national_id:
          type: boolean
        have_gender:
          type: boolean
        required_gender:
          type: boolean
        have_location:
          type: boolean
        required_location:
          type: boolean
        have_birthday:
          type: boolean
        required_birthday:
          type: boolean
        have_income_type:
          type: boolean
        required_income_type:
          type: boolean
        have_income:
          type: boolean
        required_income:
          type: boolean
        have_having_loan:
          type: boolean
        required_having_loan:
          type: boolean
        have_career_status:
          type: boolean
        required_career_status:
          type: boolean
        have_career_type:
          type: boolean
        required_career_type:
          type: boolean
        have_credit_status:
          type: boolean
        required_credit_status:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - use_ekyc
        - send_otp
        - have_purpose
        - required_purpose
        - have_phone_number
        - required_phone_number
        - have_email
        - required_email
        - have_full_name
        - required_full_name
        - have_national_id
        - required_national_id
        - have_second_national_id
        - required_second_national_id
        - have_gender
        - required_gender
        - have_location
        - required_location
        - have_birthday
        - required_birthday
        - have_income_type
        - required_income_type
        - have_income
        - required_income
        - have_having_loan
        - required_having_loan
        - have_career_status
        - required_career_status
        - have_career_type
        - required_career_type
        - have_credit_status
        - required_credit_status
        - created_at
        - updated_at
    FlowDetail:
      type: object
      description: Get Flow by domain response
      properties:
        id:
          $ref: '#/components/schemas/uuid'
        name:
          type: string
        description:
          type: string
        flow_status:
          $ref: '#/components/schemas/FlowStatus'
        steps:
          type: array
          items:
            $ref: '#/components/schemas/Step'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - name
        - description
        - flow_status
        - steps
        - created_at
        - updated_at
    OTPType:
      type: string
      enum:
        - sms
        - email
        - voice
      x-go-type: types.OTPType
      x-go-type-import:
        path: github.com/cicdata-io/smartdop/pkg/types
    Gender:
      type: string
      enum:
        - male
        - female
        - other
      x-go-type: types.Gender
      x-go-type-import:
        path: github.com/cicdata-io/smartdop/pkg/types
    HavingLoan:
      type: string
      enum:
        - no_loan
        - one_loan
        - two_loans
        - three_loans
        - more_than_three_loans
      x-go-type: types.HavingLoan
      x-go-type-import:
        path: github.com/cicdata-io/smartdop/pkg/types
    CareerStatus:
      type: string
      enum:
        - employed
        - self_employed
        - unemployed
        - housewife
        - retired
      x-go-type: types.CareerStatus
      x-go-type-import:
        path: github.com/cicdata-io/smartdop/pkg/types
    CreditStatus:
      type: string
      enum:
        - no_bad_debt
        - bad_debt
        - bad_debt_last3_year
      x-go-type: types.CreditStatus
      x-go-type-import:
        path: github.com/cicdata-io/smartdop/pkg/types
    SubmitLeadInfoRequestBody:
      type: object
      properties:
        flow_id:
          $ref: '#/components/schemas/uuid'
        step_id:
          $ref: '#/components/schemas/uuid'
        phone_number:
          type: string
        email:
          type: string
          format: email
        purpose:
          type: string
        loan_amount:
          type: integer
          format: int32
        loan_period:
          type: integer
          format: int32
        otp_type:
          $ref: '#/components/schemas/OTPType'
        full_name:
          type: string
        national_id:
          type: string
        gender:
          $ref: '#/components/schemas/Gender'
        location:
          $ref: '#/components/schemas/uuid'
        birthday:
          type: string
          format: date
        income_type:
          type: string
        income:
          type: integer
          format: int32
        having_loan:
          $ref: '#/components/schemas/HavingLoan'
        career_status:
          $ref: '#/components/schemas/CareerStatus'
        career_type:
          type: string
        credit_status:
          $ref: '#/components/schemas/CreditStatus'
      required:
        - flow_id
        - step_id
    CreateLeadRequestBody:
      type: object
      properties:
        flow_id:
          $ref: '#/components/schemas/uuid'
        domain:
          type: string
        deviece_info:
          type: object
        tracking_params:
          type: object
        info:
          $ref: '#/components/schemas/SubmitLeadInfoRequestBody'
      required:
        - flow_id
        - domain
        - info
        - deviece_info
        - tracking_params
    CreateLeadResponseBody:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/uuid'
        token:
          type: string
      required:
        - id
        - token
    SubmitOTPRequestBody:
      type: object
      properties:
        token:
          type: string
          description: The token to submit OTP
        otp:
          type: string
          description: The OTP code received
      required:
        - token
        - otp
    ResendOTPRequestBody:
      type: object
      properties:
        target:
          type: string
          description: The phone number or email to resend OTP
      required:
        - target
  responses:
    '200':
      description: OK
    '401':
      description: Unauthorized
    '403':
      description: Forbidden
    '500':
      description: Internal Server Error
    '503':
      description: Service Unavailable
